.agenda {
  width: 90%;
  text-align: center;
}

.agenda-title {
  text-align: center;
  margin-bottom: 12px;
}

.events-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.event-item {
  font-size: 1.1em;
  padding: 4px 0;
}

.event-name {
  font-weight: bold;
  max-width: 250px;
  word-wrap: break-word;
}

.event-details {
  display: flex;
  justify-content: space-between;
}

.border {
  border-bottom: 2px solid white;
}

.no-events {
  text-align: center;
  font-size: 1.4em;
  color: #4051b5;
}

.loader {
  margin-right: 120px;
}
