.google-signin {
  padding-top: 2%;
  width: 250px;
  height: auto;
}

.google-signin:hover {
  cursor: pointer;
}

.trello-login-button {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 0 !important;
}

.trello-login-button:after {
  content: " Login with Trello";
}
