.google-signin {
  padding-top: 2%;
  width: 250px;
  height: auto;
  margin-bottom: 3%;
}

.google-signin:hover {
  cursor: pointer;
}

.trello-login-button {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 0 !important;
}

.trello-login-button:after {
  content: " Login with Trello";
}

.spotify-login-button {
  font-family: "jaf-facitweb", "Noto Sans", -apple-system, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  background-color: #1cb854;
  border-radius: 0.4em;
  color: white;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.1em;
  padding: 0.7em 1.3em;
  text-decoration: none;
  vertical-align: top;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
}
