.emails {
  width: 80%;
  margin-left: 80px;
  margin-top: 5%;
  text-align: center;
}

.emails-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.google-signout-icon {
  padding-left: 10px;
  color: white;
  font-size: 0.8em;
}

.google-signout-icon:hover {
  cursor: pointer;
}

.email-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  text-align: left;
}

.email-item {
  font-size: 1.05em;
  padding: 4px 0;
}

.email-sender {
  font-weight: bold;
}

.email-subject {
}

.email-snippet {
  font-style: italic;
  font-size: 80%;
}

.email-content {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.loader {
  padding-top: 15%;
  padding-right: 0%;
}
