html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

#background-video {
  position: fixed;
  max-width: 100%;
  z-index: -1;
  opacity: 0.7;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.main {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
}

.main-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.main-left {
  align-items: flex-start;
  padding-left: 5%;
  padding-top: 4%;
  width: 30%;
}

.main-center {
  justify-content: space-evenly;
}

.main-right {
  align-items: flex-end;
  padding-right: 3%;
  padding-top: 4%;
  align-items: flex-end;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
