.news {
  margin-bottom: 50px;
  width: 90%;
}

.news-title {
  margin-bottom: 10px;
}

.news-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.news-headline {
  font-size: 1.05em;
  padding: 4px 0;
}

.news-source {
  font-weight: bold;
}

.news-description {
  padding-top: 5px;
  margin: 0;
  font-style: italic;
  font-size: 80%;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.top-border {
  border-top: 2px solid white;
}
