.now-playing-container {
  padding-top: 30%;
  padding-bottom: 15%;
  width: 90%;
  min-height: 158px;
  text-align: center;
}

.now-playing {
  display: flex;
  flex-direction: column;
}

.nowplaying-title {
  text-align: center;
}

.nowplaying-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nowplaying-text {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  font-size: 1.2em;
  text-align: left;
}

.nowplaying-artwork {
  width: 130px;
  height: 130px;
  padding-right: 10px;
}

.nowplaying-progress {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  width: 100%;
  padding-left: 10px;
}

.progressbar-center {
  width: 95%;
}

.text-margin {
  margin: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

.nowplaying-icon {
  margin-right: 5px;
}

.no-song {
  text-align: center;
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.7);
  font-style: oblique;
}

.spotify-signout-icon {
  padding-left: 5px;
  padding-bottom: 2px;
  color: #b6bce2;
  font-size: 0.5em;
}

.spotify-signout-icon:hover {
  cursor: pointer;
  color: #4051b5;
}

.nowplaying-loader {
  padding-right: 20%;
}
