.now-playing-container {
  padding-top: 30%;
  padding-bottom: 15%;
  width: 90%;
  min-height: 158px;
}

.now-playing {
  display: flex;
  flex-direction: column;
}

.nowplaying-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nowplaying-text {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  font-size: 1.2em;
}

.nowplaying-artwork {
  width: 130px;
  height: 130px;
  padding-right: 10px;
}

.nowplaying-progress {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  padding-left: 10px;
}

.progressbar-center {
  width: 95%;
}

.text-margin {
  margin: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

.nowplaying-icon {
  margin-right: 5px;
}
