.quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 20px;
}

.quote {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  max-width: 500px;
  word-wrap: break-word;
}

.author {
  font-size: 1.1em;
  margin: 5px 0;
  padding-right: 10px;
}
