.quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 2%;
}

.quote {
  font-style: italic;
  font-size: 1.2em;
  max-width: 700px;
  word-wrap: break-word;
  margin: 0;
}

.author {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  padding-right: 4%;
  padding-top: 1%;
}

@media (max-height: 800px) {
  .quotes {
    transform: scale(0);
  }
}
