.todo {
  width: 80%;
  margin-top: 10%;
  margin-left: 80px;
  text-align: center;
}

.todo-title {
  margin: 0;
  text-align: center;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.todo-card {
  font-size: 1.2em;
  padding-top: 6px;
  padding-left: 10%;
  text-align: left;
}

.card-name {
  font-weight: bold;
}

.todo-empty {
  text-align: center;
  font-size: 1.4em;
  color: gray;
  font-weight: bold;
}

.trello-signout-icon {
  padding-left: 5px;
  padding-bottom: 2px;
  color: #b6bce2;
  font-size: 0.5em;
}

.trello-signout-icon:hover {
  cursor: pointer;
  color: #4051b5;
}

.loader {
  padding-top: 10%;
  padding-bottom: 25%;
  padding-right: 50%;
}
