.todo {
  width: 80%;
  margin-top: 10%;
  margin-left: 80px;
  text-align: center;
}

.todo-title {
  margin: 0;
  text-align: center;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.todo-card {
  font-size: 1.2em;
  padding-top: 4px;
  padding-left: 10%;
  text-align: left;
}

.todo-empty {
  font-size: 1.3em;
}

.trello-signout-icon {
  padding-left: 10px;
  color: white;
  font-size: 0.8em;
}

.trello-signout-icon:hover {
  cursor: pointer;
  color: gray;
}

.loader {
  padding-top: 10%;
  padding-bottom: 25%;
  padding-right: 50%;
}
