.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 15%;
  margin-left: 80px;
  text-align: center;
  min-height: 150px;
}

.todo-title {
  margin: 0;
  text-align: center;
}

.todo-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
}

.todo-card {
  font-size: 1.2em;
  padding-top: 6px;
  text-align: center;
}

.card-name {
  font-weight: bold;
}

.todo-empty {
  text-align: center;
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.7);
  font-style: oblique;
  font-weight: bold;
}

.todo-disclaimer {
  text-align: center;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
  font-style: oblique;
  margin: 0;
  width: 90%;
}

.trello-signout-icon {
  padding-left: 5px;
  padding-bottom: 2px;
  color: #b6bce2;
  font-size: 0.5em;
}

.trello-signout-icon:hover {
  cursor: pointer;
  color: #4051b5;
}

.todo-loader {
  padding-top: 10%;
  margin-bottom: 30%;
  padding-right: 20%;
}
