.weather {
  padding-right: 10%;
}

.temperature {
  display: flex;
  flex-direction: row;
  font-size: 4em;
}

.degree {
  font-size: 30px;
  padding-left: 5px;
  padding-top: 10px;
}

.weather-icon {
  width: 90px;
  height: 90px;
}

.icon-container {
  height: 75px;
  overflow: hidden;
}

.condition-text {
  font-size: 1.3em;
  margin: 0;
}

.location {
  margin: 0;
  margin-top: 5px;
  font-size: 1.2em;
}
